.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
}
.i-name > :nth-child(1) {
  font-weight: bold;
  color: var(--black);
  font-size: 3rem;
}
.i-name > :nth-child(2) {
  font-weight: bold;
  color: var(--orange);
  font-size: 3rem;
}
.i-name > :nth-child(3) {
  font-weight: 100px;
  color: var(--gray);
  margin-top: 15px;
}
.i-button {
  height: 2rem;
  width: 7rem;
}
.i-icons {
  gap: 0rem;
  display: flex;
  margin-top: 3rem;
}
.i-icons > * {
  transform: scale(0.7);
}
.i-icons > *:hover {
  cursor: pointer;
}
.i-right {
  flex: 1;
  position: relative;
  height: auto;
  width: auto;
  background: linear-gradient(to right, #ffffff 64%, #99ff33 114%);
  border-radius: 11%;
}
.i-right > :nth-child(1) {
  height: 570px;
  width: auto;
  margin-left: 50px;
  margin-top: 40px;
}
.i-right > :nth-child(2) {
  height: 420px;
  width: auto;
  margin-left: 160px;
  margin-top: 186px;
  border-radius: 50%;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}
