.intro {
  display: flex;
  height: 70vh;
  margin-top: 6rem;
}
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
}
.i-name > :nth-child(1) {
  font-weight: bold;
  color: var(--black);
  font-size: 3rem;
}
.i-name > :nth-child(2) {
  font-weight: bold;
  color: var(--orange);
  font-size: 3rem;
}
.i-name > :nth-child(3) {
  font-weight: 100px;
  color: var(--gray);
  margin-top: 15px;
}

.i-icons {
  gap: 0rem;
  display: flex;
}
.i-icons > * {
  transform: scale(0.8);
}
.i-icons > *:hover {
  cursor: pointer;
}
.i-right {
  flex: 1;
  position: relative;
  /* height: auto;
  width: auto;
  background: linear-gradient(to right, #ffffff 64%, #99ff33 114%); */
  border-radius: 11%;
}
.i-right > :nth-child(1) {
  height: 570px;
  width: auto;
  margin-left: 50px;
  margin-top: 40px;
}
.i-right > :nth-child(2) {
  height: 420px;
  width: auto;
  margin-left: 160px;
  margin-top: 186px;
  border-radius: 50%;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}
.blur {
  position: absolute;
  border-radius: 50%;
  background: #f8f8f6;
  height: 500px;
  width: 70%;
  filter: blur(100px);
  z-index: -9;
  top: -7%;
  left: 30%;
}
.blur2 {
  position: absolute;
  border-radius: 50%;
  background: #f8f8f6;
  height: 300px;
  width: 70%;
  filter: blur(100px);
  z-index: -9;
  top: 50%;
}

@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
    margin-bottom: -200px;
    margin-top: 0rem;
  }
  .i-right {
    transform: scale(0.5);
    left: -5rem;
  }
  .blur,
  .blur2 {
    display: none;
  }
  .i-left {
    transform: scale(0.7);
    margin-top: -0.5rem;
    margin-bottom: -5rem;
  }
  .i-name > * {
    font-size: 25px;
  }
}
@media screen and (max-width: 620px) {
  .intro {
    flex-direction: column;
    margin-top: 0rem;
  }
  .i-right {
    transform: scale(0.7);
    left: -5rem;
  }
  .blur,
  .blur2 {
    display: none;
  }
  .i-left {
    transform: scale(0.7);
    margin-top: -0.5rem;
    margin-bottom: -5rem;
  }
  .i-name > * {
    font-size: 25px;
  }
}
