:root {
  --yellow: #f5c32c;
  --orange: #6f624c;
  --black: #0737c7;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --grape: #001c3b;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

.button {
  border-radius: 11px;
  border: none;
  padding: 8px;
  font-size: 16px;
  color: #ddf8fe;
  background: linear-gradient(180deg, #96c3ff 26.7%, #2464b9 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(90, 154, 244, 0.42);
}
.button:hover {
  background: linear-gradient(180deg, #e3eaf4 26.7%, #fdf2f0 99.36%);
  cursor: pointer;
  color: var(--grape);
  border: 2px solid var(--black);
}
/* .navvy {
  position: sticky;
  z-index: 99999;
} */

@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;
  }
}
